.P-experts-recommend {
    height: 70vh;
    padding: 4vh 0;
    background-color: #f2f2f2;
}

.P-experts-recommend-main {
    width: 80vw;
    margin: 0 auto;
}

.P-experts-recommend-tit {
    height: 12vh;
    line-height: 12vh;
    font-size: 3vh;
    padding-left: 4vh;
}

.P-experts-recommend-list {
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.P-experts-recommend-item {
    width: 15vw;
    height: 50vh;
    text-align: center;
    position: relative;

    .P-experts-recommend-item-avator-img {
        display: block;
        height: 30vh;
        margin: 0 auto;
    }

    .P-experts-recommend-item-info {
        height: 28vh;
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        border-top: 0.5vh solid rgba(85, 26, 26, 0.726);
        background-color: #fff;
        transition: height 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, .08);

        &:hover {
            height: 35vh;
        }

        .P-experts-recommend-item-name {
            height: 8vh;
            line-height: 8vh;
            font-size: 2.5vh;
        }

        .P-experts-recommend-item-place {
            width: 50%;
            margin: 0 auto;
            box-sizing: content-box;
            border-bottom: 0.3vh solid rgb(134, 89, 37);
            height: 4vh;
            line-height: 4vh;
            font-size: 2vh;
            color: #999;
        }

        .P-experts-recommend-item-phone {
            height: 5vh;
            line-height: 5vh;
            font-size: 2vh;
        }

        .P-experts-recommend-item-info-tit {
            padding: 0 2vw;
            height: 7.5vh;
            margin-bottom: 2.5vh;
            box-sizing: content-box;
            line-height: 2.5vh;
            font-size: 2vh;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #999;
        }

        .P-experts-recommend-item-btn {
            margin: 3vh 0 1vh;
            button {
                width: 6vw;
                height: 4vh;
                line-height: 4vh;
                padding: 0;
                border-radius: 1vw;
                font-size: 1.5vh;
                color: rgb(236, 59, 59);
                background-color: #fff;

                &:hover {
                    background-color: rgb(236, 59, 59);
                    color: #fff;
                }
            }
        }
    }
}