.P-knowledge-popularization{
    height: 50vh;
    padding: 4vh 0;
    .P-knowledge-popularization-main{
        width: 80vw;
        margin: 0 auto;
        .P-knowledge-popularization-tit{
            height: 15vh;
            line-height: 15vh;
            font-size: 3vh;
            padding-left: 4vh;
        }
    }
}