.P-step3 {
    background-color: #fff;
    width: 100%;
    height: 50vh;

    .ant-result-icon {
        svg {
            height: 14vh;
            width: 14vh;
        }
    }

    button {
        width: 12vw;
        height: 5vh;
        line-height: 5vh;
        font-size: 2vh;
        padding: 0;
    }
    .P-tologin{
        background-color: #1890ff;
        color: white;
        a:hover{
            color: white;
        }
    }
}