.P-step1 {
    height: 100%;
    width: 100%;

    .P-identity-list {
        display: flex;
        justify-content: space-between;

        .P-identity-item {
            position: relative;
            width: 15vw;
            height: 50vh;
            background-color: #fff;
            .P-identity-item-img{
                height: 15vh;
                display: block;
                margin: 2vh auto 0;
            }
            .P-identity-item-tit{
                text-align: center;
                font-size: 2.8vh;
                height: 4vh;
                line-height: 4vh;
            }
            .P-identity-item-intro{
                height: 22vh;padding: 1vh;
            }
            .P-identity-item-btn{
                position: absolute;
                left: 50%;
                bottom: 3vh;
                transform: translateX(-50%);
            }
        }
    }

}